:root {
    --primary: #4f46e5;
    --secondary: #6366f1;
    --success: #22c55e;
    --info: #0ea5e9;
    --warning: #f59e0b;
    --danger: #ef4444;

    --gray-50: #f8fafc;
    --gray-100: #f1f5f9;
    --gray-200: #e2e8f0;
    --gray-300: #cbd5f5;
    --gray-600: #475569;
    --gray-900: #0f172a;
}
