@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

body {
    font-family: var(--font-base), sans-serif;
    color: var(--text-color);
}
