<!DOCTYPE html>
<html lang="fr">
{% include '@layout/_head.html.twig' %}

<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {% include '@layout/_scripts.html.twig' %}
{% endblock %}
</body>
</html>
