<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page introuvable | AGIntranet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ asset('styles/error-mirbal.css') }}">
</head>

<body>

<div class="min-vh-100 d-flex align-items-center justify-content-center py-10 px-4 auth-bg">
    <div class="error_section text-center">

        <h1 class="error_title">404</h1>

        <h2 class="error_section_subtitle">
            Page introuvable
        </h2>

        <p>
            La page que vous recherchez n’existe pas, a été déplacée
            ou est temporairement indisponible.
            <br>
            Nous vous invitons à revenir vers une page valide.
        </p>

        <a href="{{ path('app_home') }}" class="btn btn-primary">
            <i class="ri-home-4-line me-2"></i>
            Retour à l’accueil
        </a>

    </div>
</div>

</body>
</html>
