# This file is the entry point to configure your own services.

parameters:
    # Webservice AGDUC (chargé depuis .env / .env.local)
    ws_host: '%env(WEBSERVICE_HOST)%'
    ws_basepath: '%env(WEBSERVICE_BASEPATH)%'
    ws_basic: '%env(WEBSERVICE_BASIC)%'
    ws_ignore_ssl: '%env(bool:AGDUC_IGNORE_SSL)%'


services:
    # Configuration par défaut
    _defaults:
        autowire: true
        autoconfigure: true

    # Toutes les classes de src/ sont automatiquement enregistrées
    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'


    # ================================
    #   CLIENT HTTP POUR AGDUC
    # ================================
    webservice.client:
        class: Symfony\Component\HttpClient\HttpClient
        factory: ['Symfony\Component\HttpClient\HttpClient', 'create']


    # ================================
    #   USER INFO WEBSERVICE
    # ================================
    App\Service\UserInfoWebservice:
        arguments:
            $webClient: '@http_client'
            $wsHost: '%ws_host%'
            $wsBasePath: '%ws_basepath%'
            $wsBasic: '%ws_basic%'
            $ignoreSsl: '%ws_ignore_ssl%'
