{% extends 'front/front.html.twig' %}

{% block title %}
    Accueil | Intranet AGDUC
{% endblock %}

{% block front %}
    <section class="home">

        <h1>Accueil Intranet</h1>

        <p>Contenu spécifique à la page.</p>

        {% if app.user %}
            <p>
                Bienvenue
                <strong>{{ app.user.prenom }} {{ app.user.nomusu }}</strong>
            </p>
        {% endif %}

    </section>
{% endblock %}
