<head>
    <meta charset="UTF-8">
    <title>{% block title %}Intranet AGDUC{% endblock %}</title>

    {% block stylesheets %}
        {% include '@layout/_styles.html.twig' %}
    {% endblock %}
</head>

